.tag {
  background-color: #ff6060;
  color: white;
  padding: clamp(4px, 1vw, 6px) clamp(12px, 2vw, 20px);
  border-radius: clamp(5px, 1vw, 10px);
  font-size: clamp(0.7rem, 1.5vw, 0.9rem);
  display: inline-block;
}
